body {
    background-color: #f0f2f5;

}
.login-box {
    .login-right {
        background-color: #FFFFFF;
        .container {
            .row {
                a.forgot-password {
                    text-decoration: none;
                }
            }
        }
    }
}